@model TabloidMVC.Models.ViewModels.AddTagViewModel

@{
    ViewData["Title"] = "ManageTags";
}

<h1>Add Tags</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => Model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="InsertTag" asp-route-id="Tag.Id" class="btn btn-outline-primary mx-1" title="Insert" asp-controller="Post">
                    Add Tag
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
